*{
    margin: 0 auto;
    padding: 0 auto;
}
body{
    font-family: 'Roboto Slab', serif;
}
a{
    text-decoration: none;
    color: #613B3B;
    font-family: 'Roboto Slab', serif;
}
h1{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    letter-spacing: 2px;
}
h2{
    color: #363958;
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    letter-spacing: 2px;
}

section{
    padding-bottom: 10px;
    height: 500px;
}
header{
   height: 100px; 
   margin-bottom: 60px;
}
#header-menu ul{
    list-style-type: none;
    margin-top: 20px;
    float:right;
    display: block;
    padding-right: 110px;
}
#header-menu ul li{
    float: left;
    padding: 15px;
    font-size: 20px;
    color: #3B3B3B;
    font-weight: bold;
}
.half-width{
   width: 40%;
   padding-left:5%;
   margin-left:2%;
   float: left;
}
p{
    color: #363958;
    font-size: 20px;
    padding:10px 0px 10px 0px;
    font-weight: 700;
    margin-bottom: 20px;
}
.half-width img{
    width: 100%;
}
.highlight{
    color: #FF8367;
}
.link-button{
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-image: linear-gradient(50deg, #F66660, #FB7362);
    padding: 10px 20px;
    border-radius: 10px;
}
.link-button:hover{
    color: white;
    background-image: linear-gradient(black, black);
}
.cv{
    background-image: linear-gradient(80deg, #F56360, #FB7462); 
}
.work-bg{
    background-color: #F8F9FC;
    height: 700px;
    
}
.work-bg h2{
    text-align: center;
    padding:100px 0px;
}
.work-highlight{
    color: #F46060;
}

.work-list{
    width:960px;   
}
.work{
    width: 30%;
    float: left;
    margin-left: 3%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 40px #ECECEF;
    height: 350px;
}
.work img{
    width:100%;
    padding-left: 0%;
}
.work p{
        color: #363958;
        font-size: 15px;
        font-weight: 700;
        padding-left:10px;
}
h3{
    font-size: 20px;
    padding:15px 0px 15px 10px;
    color: #363958;
    font-weight: 800;
}
.work-chat h1{
    float: left; 
    padding: 70px;
    color: white;  
}
#chat{
    float: right; 
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(50deg, #F66660, #FB7362);
    padding: 10px 20px;
    border-radius: 10px;
    margin:90px 50px 90px 30px;

}
#chat:hover{
    color: white;
    background-image: linear-gradient(black, black);
}
.work-chat{
    height: 220px;
    width: 860px;
    background-image: url("shapes/Group_33094_1.png");
    background-position:auto;
    background-size:860px;
    background-repeat: no-repeat;
    margin-top: 80px;
}
.last-section{
    height: 300px;
}
.get-touch{
    text-align: center;
    
    
}
.get-touch h2{
    margin-bottom: 20px;
    font-size: 50px;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-bottom: 5px solid;
    border-image-slice: 1;
    display: inline-table   ;
}
.form{
    box-shadow: 10px 10px 40px #DDDDDD;
    width: 400px;
    height: 250px;
    padding: 20px;
    border-radius: 15px;
}
.form input{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    border: 1px solid rgb(195, 185, 185);
}
.submit{
    font-size: 20px;
    color: white;
    background-image: linear-gradient(50deg, #F66660, #FB7362);
    padding: 10px 20px;
    margin-top: 20px;
}
.submit:hover{
    color: white;
    background-image: linear-gradient(black, black);
    cursor: pointer;
}
.top-footer{
    text-align: center;
}
.top-footer h2{
    font-size: 20px;
    
}
.top-footer h4{
    font-weight: bold;
    font-size: 30px;
    color: black;
    padding: 10px 0px;
}
.top-footer img{
    width: 35px;
}
footer{
    text-align: center;
    margin-top:30px ;
}